body {
    background-color: darkgray;
    font-family: 'Gotham',Helvetica, Arial, sans-serif;
}

li > a {
    text-decoration: none;
    color: #18453B;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 10px 5px 10px 10px;
    
    font-weight: 300;
    height: 50px;
  
}



li:hover, li:hover a {
    background-color: #18453B;
    color: white;
    
  
}

ul {
    background-color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

div {
    display: grid;
}

li {
    background-color: white;  
    height: 30px;
    padding-top: 10px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
}

.nav > li  {
    flex: 1;
}

.doc {
    display: block;
}

@media all and (max-width: 600px) {
    .nav {
        flex-wrap: wrap;
    }

    .nav > li {
        flex-basis: 50%;
    }
}

#nav { 
    background-color: white;
   
}

#content-1 {
    display: block; 
    background-color: #18453B;
    width: 100%;
    min-height: 200px;
}

#content-1 h3 {
    display: inline-block;
    color: white;
    font-size: 35px;
    font-weight: 100;
    padding: 10px 10px 40px 40px;
    vertical-align: bottom;
    margin: 0;
}

#content-1-r {
    display: block; 
    background-color: #18453B;
    width: 100%;
    min-height: 90px;
}

#content-1-r h3 {
    display: inline-block;
    color: white;
    font-size: 35px;
    font-weight: 100;
    padding: 25px 20px 20px 20px;
    vertical-align: bottom;
    margin: 0;
}



.home {
    width: 66%;
}

.selected {
    font-weight: 700;
}

p a {
    color: #e8d9b5;
    text-decoration: none;
    font-style: italic;
}

#main-type {
    display: inline-block;
    vertical-align: bottom;
    
}

#main-type img {
    height: 80px;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 30px;
}

h3 {
    display: flex;
    
}

.content-box h2 {
    font-size: 25px;
    color: white;
    font-weight: 300;
    padding-left: 25px;

}

#content-2 {
    display: grid;
    background-color: #032f26;
    grid-template-columns: 1fr 1fr 1fr;
    
}


.content-box {
    min-height: 200px;
    border-right: 3px solid #18453B;
    border-bottom: 3px solid #18453B;
}

.content-box p {
    padding: 20px 30px 5px 30px;
    color: #caeae0;
    margin: 0;
}




#container {
    display: grid;
    background-color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#header { 
    background-color: white;
    min-height: 80px;
    padding-bottom: 20px;
    padding-top: 10px;
}

#main {
  display: grid; 
  min-height: 100px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.head-type {
    font-size: 20px;
    padding-left: 20px; 

}

#wra-head h2 {
    font-style: 900;
    color: #18453B;
    margin: 0;
    font-weight: 200;
}

#wra-head {
    height: 30px;
    padding-top: 20px;
}

#awa-head {
    min-height: 30px;
}

#awa-head h2 {
    color: #18453B;
    font-weight: 700;
    margin: 0;
    padding-top: 3px;
}

.contact {
    width: 100%;
}

.schedule-date {
    color: white;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.schedule-content {
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.schedule-content a {
    text-decoration: none;
    color: #e8d9b5;
    font-style: italic;
    font-size: 18px;
}

.schedule-resources {
    padding-top: 30px;
    display: block;
}

.schedule-resources a {
    display: block;
    background-color: #032f26;
    color: #e8d9b5;
    font-size: 18px;
    font-style: italic;
    min-height:60px;
    
}

.schedule-resources li {
    display: block;
    background-color: #032f26;
    color: #e8d9b5;
    font-size: 18px;
    font-style: italic;
    padding: 10px;
}

#footer {
    background-color: white;
    padding: 5px;
    text-align: right;
}


#grading {
    display: grid;
    grid-template-columns: .3fr 1fr;
    grid-gap: 4px;
    width: 200px;
    padding-left: 15px;
    font-size: 20px;
  }
  
  #grading div {
    padding: 20px 7px 0px 7px;
    vertical-align: baseline;
    padding-top: 20px;
  }
  
  .grade {
    color: white;
    background-color: #18453B;
    text-align: center;
    font-weight: 500;
    
  }
  
  .score {
    background-color: white;
    color: #18453B;
    text-align: center;
    
  }

  #resources {
      padding-top: 30px;
  }

  #contact-content  ul li {
      background-color: #032f26;
      color: #e8d9b5;
      height: auto;
  }

  #contact-content  ul {
    background-color: #032f26;
      list-style-type: circle;
      padding-right: 30px;
      padding-left: 30px;
      padding-bottom: 30px;
  }

  #contact-content  ol li {
    background-color: #032f26;
    color: #e8d9b5;
    height: auto;
}

#contact-content  ol {
  background-color: #032f26;
    list-style-type: circle;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    margin: 0;
}

ol {
    padding: 5px;
}


  #r-links a {
      text-decoration: none;
      color: #e8d9b5;
      font-style: italic;
      padding-left: 30px;
      padding-right: 30px;
  }